<%- if controller_name != 'sessions' %>
<div class="d-inline bg-secondary text-white">既に登録済みの方</div><br />
  <%= link_to new_session_path(resource_name) do %>
    <span class="border-bottom-text-primary">こちら</span> 
  <% end %>
  からログインしてください。
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<div class="d-inline bg-secondary text-white">会員登録がお済でない方</div><br />
  <%= link_to new_registration_path(resource_name) do %><br />
    <span class="border-bottom-text-primary">こちら</span>
  <% end %>
  から新規登録を行ってください。
<% end %>


