<div class="container">
   
        <div class="col-md-9">
            <div class="m-5 text-left">
                ようこそ、ながのCAKEへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。<br>
            </div>
        </div>
    </div>
    <div class="row m-5">
        <h2>新着商品</h2>
    </div>    
        <div class="col-12 d-flex m-5">
                    <% @items.each do |item| %>
                    <% if item.is_active %>
                    <div class="card">
                        <%= image_tag item.get_image %>
                        <div class="card-body">
                            <h4 class="card-title"><%= link_to item.name, item_path(item.id) %></h6>    
                            <h6 class="card-text">￥<%= item.with_tax_price.to_s(:delimited) %></h6>    
                        </div>
                    </div>
                    <% end %>
                    <% end %>
        </div>  
    
    <div>
        <div class="col-10">
            <div class="d-grid gap-2">
                <%= link_to items_path do %>
                    <button class="btn btn-outline-primary">全ての商品を見る</button>
                <% end %>
            </div>    
        </div>
    </div>
</div>    